<section>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create Post
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div [hidden]="!uploadPercent">
        <mat-progress-bar mode="determinate" value="{{uploadPercent | async}}"></mat-progress-bar>
      </div>
      <ngx-dropzone [expandable]="true" (change)="onAddPhoto($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-image-preview   ngProjectAs="ngx-dropzone-preview" [file]=f *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        </ngx-dropzone-image-preview >
      </ngx-dropzone>


      <mat-grid-list [cols]="1">
        <mat-form-field>
          <input matInput placeholder="Post Title" [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Post Content" [(ngModel)]="content" rows="15"></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="createPost()" [disabled]="!title || !content || (uploadPercent | async) !== 100">{{buttonText}}</button>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
</section>



