<ng-container *ngIf="post">
  <div [hidden]="!editing">
    <app-post-dashboard (editFinished)="editing = !$event" *ngIf="post" [editMode]="true" [post]="post"></app-post-dashboard>
  </div>

  <div [hidden]="editing">
    <mat-card>
      <div *ngIf = "post.imagesUrl" >
        <div *ngFor="let image of post.imagesUrl">
          <img src="{{image}}">
        </div>
      </div>
      <h2>{{post.title}}</h2>
      <p>
        <small>Posted by {{post.author}}</small>
      </p>
      <mat-card-content>
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
        <button mat-icon-button (click)="editing=true">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
